<mgl-timeline>
  <mgl-timeline-entry *ngFor="let timeline of timelines">
    <mgl-timeline-entry-header>
      <div class="position-style">{{timeline.position}}</div>
      <div class="employer-style">{{timeline.employer}}</div>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <mat-list>
        <mat-list-item *ngFor="let item of timeline.contents">
          {{ item }}
        </mat-list-item>
      </mat-list>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>
      <h2 class="year-style">{{timeline.year}}</h2>
    </mgl-timeline-entry-side>
    <mgl-timeline-entry-dot [class]="'primary'" [size]="80"
                            [expandAnimationTiming]="'200ms ease'"
                            [collapseAnimationTiming]="'100ms ease'">
      <div *ngIf="timeline.imageData.shouldAddCircle;then smallerImage else image"></div>
      <ng-template #smallerImage><img src="{{timeline.imageData.path}}" style="width: 60px; height: 60px; padding: 10px" alt="icon"/></ng-template>
      <ng-template #image><img src="{{timeline.imageData.path}}" style="width: 80px; height: 80px;" alt="icon"/></ng-template>
    </mgl-timeline-entry-dot>
  </mgl-timeline-entry>
</mgl-timeline>

<span class="version-info">Current build: 1.0.4</span>
